<h1>Lineages index</h1>

<p>༄༅། །རྫོགས་ཆེན་སྨོན་ལམ་བཞུགས།<br>
Dzogchen Aspiration Prayer</p>

<p>འཁོར་འདས་མཉམ་ཉིད་ལྟ་བའི་གདིངས་ཆེན་ཐོབ། ། <br>
khor dé nyam nyi tawé ding chen tob <br>
May we obtain the great confidence of the View of the perfect equality of both saṃsāra and nirvāṇa.</p>

<p>མ་བཅོས་རང་བབས་སྒོམ་པའི་རྩལ་ཆེན་རྫོགས། ། <br>
ma chö rang bab gompé tsal chen dzok <br>
May we greatly perfect and strengthen Meditation, which is naturally resting in the unaltered state.</p>

<p>བྱར་མེད་ཤུགས་འབྱུང་སྤྱོད་པའི་བོགས་ཆེན་འབྱོངས། ། <br>
char mé shukjung chöpé bok chen jong <br>
May we gain greater skill in the Action, which is natural and spontaneous non-action. </p>

<p> སྤང་ཐོབ་བྲལ་བའི་ཆོས་སྐུ་རང་རྙེད་ཤོག ། <br>
pang tob dralwé chöku rang nyé shok <br>
May we naturally discover the Dharmakāya, which is beyond gaining and losing. </p>

<P> By Dudjom Rinpoche </p>



<%= link_to 'See Available Puja', pujas_path %>

<%= link_to 'See Pictures', pictures_path %>
